<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.main_title | escape }}{% endif %}</title>
  <meta name="description" content="{{ site.description[page.lang] }}">

  <link rel="shortcut icon" href="{{ "/favicon.ico?v=2" | prepend: site.baseurl }}" type="image/x-icon">

	<script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css" />

	<link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
	<script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/theDocs.all.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/skin-cyan.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/slider.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/vendors/lightgallery/css/lightgallery.css" | prepend: site.baseurl }}">

  <!-- FONTS -->
  <link href="//fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400" rel="stylesheet" type="text/css">

  <!-- OTHERS -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

</head>
