<header class="site-header sticky navbar-fullwidth navbar-transparent">

  <!-- Top navbar & branding -->
  <nav class="navbar navbar-default">
    <div class="container">

      <!-- Toggle buttons and brand -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>

        <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand logo-switch logo-default" href="{{ site.index[page.lang] | prepend: site.baseurl }}">{{ site.title }}</a>
      </div>
      <!-- END Toggle buttons and brand -->

			{% assign doc = site.collections | where: 'label', 'documentation' | first %}
			{% assign lg = site.collections | where: 'label', 'log' | first %}
			{% assign install = site.collections | where: 'label', 'installation' | first %}
			{% assign arch = site.collections | where: 'label', 'architecture' | first %}

      <!-- Top navbar -->
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
				<ul class="nav navbar-nav navbar-right">
					<li class="{% if page.url contains 'documenta' %}active{% endif %}">
            <a href="{{ doc.baseurl[page.lang] | prepend: site.baseurl }}">{{ doc.title[page.lang] }}</a>
          </li>
					<li class="{% if page.url contains 'log' %}active{% endif %}">
            <a href="{{ lg.baseurl[page.lang] | prepend: site.baseurl }}">{{ lg.title[page.lang] }}</a>
          </li>
					<li class="{% if page.url contains 'instal' %}active{% endif %}">
            <a href="{{ install.baseurl[page.lang] | prepend: site.baseurl }}">{{ install.title[page.lang] }}</a>
          </li>
					<li class="{% if page.url contains 'arch' or page.url contains 'arqu' %}active{% endif %}">
            <a href="{{ arch.baseurl[page.lang] | prepend: site.baseurl }}">{{ arch.title[page.lang] }}</a>
          </li>
					<li>
						<a href="#" id="btn-login" class="btn-login" data-toggle="modal" data-target=".login-modal">
							<i class="fa fa-lock"></i>
						</a>
						<a id="btn-logout" class="btn-logout hidden">
							<i class="fa fa-power-off"></i>
						</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle language-selector" data-toggle="dropdown">
							<img src="{{ site.baseurl }}/images/{{ page.lang }}.png">
						</a>
						<ul class="dropdown-menu">
              {% assign pages = site.pages | where:"ref", page.ref | sort: 'lang' %}
              {% for pagein in pages %} {% unless page.lang contains pagein.lang %}<li><a href="{{ pagein.url | prepend: site.baseurl }}" class="lang-select {{ pagein.lang }}"><img src="{{ site.baseurl }}/images/{{ pagein.lang }}.png"></a></li>{% endunless %} {% endfor %}

							{% assign docs = site.documentation | where:"ref", page.ref | sort: 'lang' %}
              {% for doc in docs %} {% unless page.lang contains doc.lang %}<li><a href="{{ doc.url | prepend: site.baseurl }}" class="lang-select {{ doc.lang }}"><img src="{{ site.baseurl }}/images/{{ doc.lang }}.png"></a></li>{% endunless %} {% endfor %}

							{% assign logs = site.log | where:"ref", page.ref | sort: 'lang' %}
              {% for lg in logs %} {% unless page.lang contains lg.lang %}<li><a href="{{ lg.url | prepend: site.baseurl }}" class="lang-select {{ lg.lang }}"><img src="{{ site.baseurl }}/images/{{ lg.lang }}.png"></a></li>{% endunless %} {% endfor %}

							{% assign insts = site.installation | where:"ref", page.ref | sort: 'lang' %}
              {% for inst in insts %} {% unless page.lang contains inst.lang %}<li><a href="{{ inst.url | prepend: site.baseurl }}" class="lang-select {{ inst.lang }}"><img src="{{ site.baseurl }}/images/{{ inst.lang }}.png"></a></li>{% endunless %} {% endfor %}

							{% assign ars = site.architecture | where:"ref", page.ref | sort: 'lang' %}
              {% for ar in ars %} {% unless page.lang contains ar.lang %}<li><a href="{{ ar.url | prepend: site.baseurl }}" class="lang-select {{ ar.lang }}"><img src="{{ site.baseurl }}/images/{{ ar.lang }}.png"></a></li>{% endunless %} {% endfor %}
						</ul>
					</li>
				</ul>
      </div>
      <!-- END Top navbar -->
    </div>
  </nav>
  <!-- END Top navbar & branding -->

  <!--
  {% if page.path == 'index.html' %}
  <div class="banner banner-full-height overlay-black" style="background-image: url({{ site.baseurl }}/assets/img/banner1.jpg);">
    <div class="container text-center">
      <h1>eRegistrations documentation</h1>
      <h5><strong>eRegistrations</strong> is an eGovernment system, designed to computerize simple or complex administrative procedures.</h5>
      <br><br><br><br>
      <p><a class="btn btn-white btn-xl btn-outline" href="#content" role="button"> Getting Started </a></p>
    </div>
  </div>
  {% endif %}
  -->

</header>
