<ul class="sidenav dropable">

    {% assign documentation = site.documentation | where: "lang", page.lang | sort: "weight" %}

    {% for doc in documentation %}

		{% if doc.submenu %}

			{% if group != doc.submenu %}
			<li>
				<a href="#" class="has-child {% if page.submenu contains doc.submenu %}active open{% endif %}">{{ doc.submenu }}</a>
				<ul>
					{% assign subs = site.documentation | where: "lang", page.lang | where: "submenu", doc.submenu | sort: "subweight" %}
					{% for sub in subs %}
					<li class="{% if page.permalink == sub.permalink %}active{% endif %}">
						<a href="{{ sub.url }}">{{ sub.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}
		</li>
		{% else %}

    <li class="{% if page.permalink == doc.permalink %}active{% endif %}">
        <a href="{{ doc.url }}">{{ doc.title }}</a>
    </li>
		{% endif %}
		{% assign group = doc.submenu %}
    {% endfor %}

</ul>
